.up {
    background-image:
     linear-gradient( rgba( 0, 0, 0, 0.3), rgba( 0, 0, 0, 0.5)),
     url(ars-manifestazione.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contact-1 {
    background-color: rgb( 52, 52, 52);
    text-align: center;
    padding: 2px;
}

.contact-2 {
    background-color: rgb(52, 52, 52);
    text-align: center;
    padding: 2px;
}

h4 {
    color: rgb(255, 0, 0);
    line-height: 0px;
}

h3 {
    color: rgb(255, 0, 0);
    line-height: 0px;
}

.questionari {
    background-color: rgba(128, 0, 128, 30%);
    text-align: center;
    padding: 20px 0;
}

h2 {
    font-size: 30px;
    color: blue;
}

.questionari p {
    margin: 5px;
}

h1 {
    font-size: 58px;
    font-weight: bold;
    color: red;
}

p {
    font-size: 30px;
    color: blue;
}

.bottone {
    background-color: lightblue;
    text-align: center;
    border: 5px solid blue;
    border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 4);
    transition: .3s;
    margin: auto;
    margin-bottom: 20px;
}

.bottonel {
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid red;
    border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 4);
    transition: .3s;
    margin: auto;
    margin-bottom: 20px;
}

.bottone:hover {
    transform: scale(1.08);
}

.bottone h5 {
    color: red;
}

.bottonel h5 {
    color: red;
}

.gandalf {
    justify-content: space-between;
}

red {
    color: #fb0404;
}

.orario {
    background-color: green;
    text-align: center;
    padding: 20px 0;    
}

yll {
    color: yellow;
}

.bit {
    background-image:
     linear-gradient( rgba( 0, 0, 0, 0.3), rgba( 0, 0, 0, 0.5)),
     url(images.jpg);
    background-size: repeat;
    text-align: center;
    padding: 20px 0;
}

. bit h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
    
.papero {
    background-color: rgb(122, 209, 227);
    border: 5px solid #0b34bb;
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.menu {
    color: #fb0404;
}

.mostra {display:block;}
